.btn-ShopNow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 185px;
  height: 59px;
  font-weight: bold;
  cursor: pointer;
  font-family: roboto, arial;
  position: absolute;
  margin-top: 200px;
}
