.bestseller {
  height: 800px;
  background-color: #eeeeee;
  display: flex;
  margin: 0 130px;
  margin-left: 0;
  .bestseller-container {
    // display: flex;
    // background-color: #eeeeee;
  }
}
