.informations {
  height: 351px;
  display: flex;
  .informations-container {
    display: flex;
    margin: 100px 330px;
    width: 1294px;
    .contact {
      display: flex;
      flex-grow: 1;
      .contact-item {
        display: flex;
        flex-flow: column;
        text-align: left;
        font-family: roboto, arial;
        flex-grow: 1;
        h1 {
          font-size: 18px;
          margin-top: 0;
          margin-bottom: 22px;
        }
        h2 {
          font-size: 14px;
          font-weight: normal;
          line-height: 15px;
          cursor: pointer;
        }
      }
    }
    .mart-info {
      display: flex;
      flex-flow: column;
      text-align: left;
      width: 424px;
      font-family: roboto, arial;
      margin-right: 50px;
      h1 {
        font-size: 26px;
        margin-top: 0;
      }
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}
