.products-list {
  height: 1493px;
  width: auto;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  .products-list-container {
    background-color: #eeeeee;
    height: 1333px;
    width: 1413px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .prod-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -100px;
    }
    .categories {
      position: absolute;
      .btn-categories {
        height: 41px;
        width: auto;
        padding: 5px 25px;
        background-color: white;
        border: none;
        margin-right: 10px;
        border-radius: 5px;
        font-family: roboto, arial;
        font-size: 14px;
        cursor: pointer;
        text-align: left;
      }

      .btn-categories-active {
        height: 41px;
        width: auto;
        padding: 5px 25px;
        background-color: black;
        color: white;
        border: none;
        margin-right: 10px;
        border-radius: 5px;
        font-family: roboto, arial;
        font-size: 14px;
        cursor: pointer;
        text-align: left;
      }
    }
    .btn-bn {
      margin-left: 1305px;
      width: 137px;
      height: 19px;
      display: flex;
      .btn-back-next {
        background-color: transparent;
        width: 100%;
        border: none;
        cursor: pointer;
        color: #616161;
        font-size: 14px;
        font-family: roboto, arial;
      }
    }
  }
  .btn-view {
    border: 1px solid #212121;
    height: 59px;
    width: 178px;
    position: absolute;
    margin-top: 670px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto, arial;
    font-size: 16px;
  }
}
.hoverme {
  display: none;
}
.prod-card img:hover + .hoverme {
  display: flex;
}
