.architects {
  display: flex;
  height: 652px;
  background-color: #f5f5f5;
  .arch {
    margin-right: 130px;
    background-color: #f5f5f5;
    width: 100%;
    .arch-container {
      margin: 60px 124px;
      margin-left: 220px;
      display: flex;
      justify-content: center;
      .arch-info {
        margin-left: 45px;
        margin-top: 48px;
        width: 329px;
        text-align: left;
        h1 {
          font-family: Playfair Display, arial;
          font-size: 36px;
        }
        p {
          font-family: roboto, arial;
          font-size: 16px;
        }
        .btn-ShopNowWhite {
          width: 133px;
          height: 45px;
          margin-top: 40px;
        }
      }
      .arch-items {
        height: 532px;
        width: 1052px;
        display: flex;
        justify-content: space-between;
        .div-upper {
          img {
            background-color: #eeeeee;
          }
        }
      }
    }
  }
}
